# EDA EPIC003

## 1.Instalación de librerías

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

#Elimino posibles warnings
import warnings
warnings.filterwarnings('ignore')

# Comment this if the data visualisations doesn't work on your side
%matplotlib inline


#Mostrar todas las columnas de un dataframe
pd.set_option('display.max_columns', None)

## 2. Importación data

In [2]:
#Seleccionar ruta de la data
dataframe = pd.read_csv(r'C:\GIT_Cumplimiento\epic\EPIC003\data\modeling\01_raw.csv', encoding='latin')
dataframe.shape

(54558, 11)

## 3. Análisis exploratorio

In [4]:
#Vistazo general
dataframe.head(10)

,ï»¿PERIODO,CODCLAVECIC,NBRCLIORDENANTE,SEGMENTO,MTO_TRANSF,CTD_OPE,FLG_PEP,FLG_PROF,FLG_PAR,FLG_PERFIL,CTDEVAL
0,202206,812,CORTES DE POLAR SANDRA MIRIAN,ENALTA,100000.00,1,0,1,2,0,0
1,202204,898,FORNO CASTRO-POZO XENNIA MARIA,ENALTA,5416.06,1,0,0,0,0,0
2,202207,961,INOPE MANTERO CARLOS ALBERTO,ENALTA,1218.52,1,0,0,0,0,1
3,202209,961,INOPE MANTERO CARLOS ALBERTO,ENALTA,3703.35,1,0,0,2,0,1
4,202210,1006,STOCKHOLM BARRIOS CHRISTIAN,ENALTA,100000.00,1,0,0,0,0,2
5,202204,1604,MARIN ALCALDE WILDER JUAN,EXCLUSIVO,523.00,1,0,0,2,0,0
6,202209,1604,MARIN ALCALDE WILDER JUAN,EXCLUSIVO,2906.34,1,0,0,2,0,0
7,202208,1693,OREJUELA SEMINARIO MARISABEL,CONSUMO,400.00,1,0,0,0,0,0
8,202209,1750,CONROY DE MARSANO MARIA TERESA,PRIVADA,17357.00,1,0,0,0,0,15
9,202204,1973,APARCANA HERRERA MARIELA VILMA,CONSUMO,13931.65,1,0,1,0,0,0

In [5]:
#Descriptivos básicos
dataframe.describe()

,ï»¿PERIODO,CODCLAVECIC,MTO_TRANSF,CTD_OPE,FLG_PEP,FLG_PROF,FLG_PAR,FLG_PERFIL,CTDEVAL
count,54558.000000,5.455800e+04,5.455800e+04,54558.000000,54558.000000,54558.000000,54558.000000,54558.000000,54558.000000
mean,202207.066406,7.887036e+06,2.304869e+04,1.320540,0.016295,0.340537,0.876755,0.042524,0.509623
std,1.984093,8.002663e+06,2.089800e+05,0.874583,0.126607,0.473894,0.977741,0.201782,2.819861
min,202204.000000,8.120000e+02,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,202205.000000,1.633341e+06,1.495000e+03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,202207.000000,4.884700e+06,4.700000e+03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,202209.000000,1.208545e+07,1.300000e+04,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000
max,202210.000000,2.806231e+07,2.500892e+07,36.000000,1.000000,1.000000,2.000000,1.000000,166.000000

In [3]:
#Corrijo nombre variable periodo
dataframe.rename(columns = {'ï»¿PERIODO':'PERIODO'}, inplace = True)

In [7]:
#Validación casos por periodo
dataframe['PERIODO'].value_counts().sort_index()

202204    7165
202205    7924
202206    7539
202207    7127
202208    8792
202209    8320
202210    7691
Name: PERIODO, dtype: int64

## 4. Análisis estadístico

In [8]:
#Valido número de nulos en la data
dataframe.isnull().sum()

PERIODO            0
CODCLAVECIC        0
NBRCLIORDENANTE    0
SEGMENTO           0
MTO_TRANSF         0
CTD_OPE            0
FLG_PEP            0
FLG_PROF           0
FLG_PAR            0
FLG_PERFIL         0
CTDEVAL            0
dtype: int64

In [7]:
dataframe['MTO_TRANSF'].describe([.05,.1,.25,.5,.75,.9,.95,.99]).round(2).transpose().to_clipboard()
dataframe['MTO_TRANSF'].describe([.05,.1,.25,.5,.75,.9,.95,.99]).round(2).transpose()

count       54558.00
mean        23048.69
std        208979.99
min             1.00
5%            247.13
10%           500.00
25%          1495.00
50%          4700.00
75%         13000.00
90%         37500.00
95%         75000.00
99%        280494.50
max      25008920.00
Name: MTO_TRANSF, dtype: float64

In [9]:
dataframe.columns

Index(['PERIODO', 'CODCLAVECIC', 'NBRCLIORDENANTE', 'SEGMENTO', 'MTO_TRANSF',
       'CTD_OPE', 'FLG_PEP', 'FLG_PROF', 'FLG_PAR', 'FLG_PERFIL', 'CTDEVAL'],
      dtype='object')

In [10]:
#Selecciono solo las variables para análisis, no ids, ni string.
dataset=dataframe[['MTO_TRANSF','CTD_OPE', 'FLG_PEP', 'FLG_PROF', 'FLG_PAR', 'FLG_PERFIL', 'CTDEVAL']]
#Elimino el index para que no aparezca en el pandas profiling como una variable analizada
dataset.reset_index(drop=True, inplace=True)

In [11]:
#valido los tipos de vars.
dataset.dtypes

MTO_TRANSF    float64
CTD_OPE         int64
FLG_PEP         int64
FLG_PROF        int64
FLG_PAR         int64
FLG_PERFIL      int64
CTDEVAL         int64
dtype: object

In [13]:
#Código de ejecución del pandas_profiling
import pandas_profiling as peda
report = peda.ProfileReport(dataset)
#Guardo el reporte
report.to_file(r"C:\GIT_Cumplimiento\epic\EPIC003\reports\others\EDA_EPIC003.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [15]:
#Selecciono solo las variables numéricas

ds_num=dataset[[ 'MTO_TRANSF','CTD_OPE', 'CTDEVAL']]

In [16]:
#Obtengo los outliers basado en un límite de 3desviaciones estándar sobre la media
mean = ds_num.mean()
std = ds_num.std()
(ds_num > (mean+3*std)).sum()

MTO_TRANSF     154
CTD_OPE       1364
CTDEVAL        863
dtype: int64